{{inherit "base.html"}}
<!--  -->
{{def report}}
<div class="pure-g">
  <div class="pure-u-1 pure-u-md-3-3 scrollit">
    <h2>Model details</h2>

    <details>
      <summary class="pure-button">Parameters</summary>
      {{if parameters}}
      <table class="pure-table">
        <thead>
          <tr>
            <th>Parameter</th>
            <th>Value</th>
          </tr>
        </thead>

        <tbody>
          {{py: params = parameters.items()}}
          <!--  -->
          {{for p, v in params}}
          <tr>
            <td data-column="Parameter">{{p}}</td>
            <td data-column="Value">{{v}}</td>
          </tr>
          {{endfor}}
        </tbody>
      </table>
      {{endif}}
    </details>

    <h2>Design Matrix</h2>
    {{if design_matrices_dict}}
    <!--  -->
    {{py: design_matrices = design_matrices_dict.items()}}
    <!--  -->
    {{for dmtx_title, dmtx in design_matrices}}
    <img
      src="data:image/svg+xml,{{dmtx}}"
      alt="Plot of Design Matrix used in {{dmtx_title}}."
    />
    {{endfor}}
    <!--  -->
    {{else}}
    <p>No design matrix was provided.</p>
    {{endif}}

    <h2>Mask</h2>
    <img
      src="data:image/svg+xml, {{mask_plot}}"
      alt="Model did not supply a mask image."
    />

    <h2 id="all-contrasts">Contrasts</h2>
    {{if contrasts_dict}}
    <!--  -->
    {{py: contrasts = contrasts_dict.items()}}
    <!--  -->
    {{for contrast_name, contrast_plot in contrasts}}
    <img
      src="data:image/svg+xml,{{contrast_plot}}"
      alt="Plot of the contrast: {{contrast_name}}."
    />
    {{endfor}}
    <!--  -->
    {{else}}
    <p>No contrast was provided.</p>
    {{endif}} {{if contrasts_dict}}
    <h2>Stat Maps with Cluster Tables</h2>
    {{py: contrasts = contrasts_dict.items()}}
    <!--  -->
    {{for contrast_name, contrast_plot in contrasts}}
    <h3>Contrast: {{contrast_name}}</h3>

    <details>
      <summary class="pure-button">Contrast Plot</summary>
      <div>
        <img
          src="data:image/svg+xml,{{contrast_plot}}"
          alt="Stat map plot for the contrast: {{contrast_name}}"
        />
      </div>
    </details>

    <details>
      <summary class="pure-button">Cluster Table</summary>
      {{if cluster_table_details}}
      <table class="pure-table">
        <thead>
          <tr>
            <th>Parameter</th>
            <th>Value</th>
          </tr>
        </thead>

        <tbody>
          {{py: cluster_params = cluster_table_details.items()}}
          <!--  -->
          {{for p, v in cluster_params}}
          <tr>
            <td data-column="Parameter">{{p}}</td>
            <td data-column="Value">{{v}}</td>
          </tr>
          {{endfor}}
        </tbody>
      </table>
      {{else}}
      <p>No cluster table parameter provided</p>
      {{endif}} {{cluster_table}}
    </details>
    {{endfor}}
    <!--  -->
    {{endif}}
  </div>
</div>
{{enddef}}
